.shakeAnimation{
  animation: shake-an 0.4s cubic-bezier(.36,.07,.19,.97) none;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake-an {
  10%, 90% {
    transform: translate3d(-3px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(6px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-12px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(12px, 0, 0);
  }
}