$step-width: 1024px;

#steps-wrapper {
	width: 1024px;
	height: 768px;
	position: absolute;
	left: 0;
	top: 0;
	// transition: transform 0.35s;
}
.steps {
	width: 1024px;
	height: 768px;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}
#step-1.active {
	visibility: visible;
}
#step-2.active {
	visibility: visible;
}
#step-3.active {
	visibility: visible;
}
#step-4.active {
	visibility: visible;
}
#step-5.active {
	visibility: visible;
}

.backgroundImage {
	position: absolute;
	left:0;
	top: 0;
	width: 1024px;
	height: 768px;
}
